.bj{
    background-image: url("../img/nav_7.jpg");
    height: 680px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    float: left;
}
.hz1{
    width: 100%;
    margin-top: 5%;
    float: left;
}
.hz1 p{
    font-size: 70px;
    text-align: center;
}
.hz2{
    border: 1px solid skyblue;
    width: 67%;
    height: 550px;
    margin: 1% 16.4%;
    float: left;
}
.hz3{
    width: 20%;
    height: 100%;
    float: left;
}
.hz4{
    border: 1px  solid slateblue;
    width: 60%;
    height: 20%;
    margin: 10% 0%  0% 15%;
}
.hz5{
    border: 1px solid skyblue;
    width: 40%;
    height: 100%;
    margin: 0% 2.5%;
    float: left;
}
.hz6{
    border: 1px solid skyblue;
    width: 35%;
    height: 100%;
    float: left;
}
.hz8{
    border: 1px solid salmon;
    width: 45%;
    height: 100%;
    float: left;
}
.hz9{
    border: 1px solid salmon;
    width: 23%;
    height: 28%;
    margin: 0% 0% 4.4% 4.5%;
    float: left;
}
.about_us{
    width: 100%;
    text-align: center;
    padding-top: 2%;
    margin-top: 4%;
    background-color: #888888;
    height: 100px;
    float: left;
}
