.bj{
    background-image: url("../img/nav_2.jpg");
    height: 680px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.dbt{
    font-size: 90px;
    font-weight:bold;
    margin: 10% 0% 1% 15%;
    color: red;
}
.dbt2{
    width: 22%;
    height: 15%;
    border:1px solid silver;
    padding:0.5% 2%;
    margin-left: 16%;
    background:white;
    border-radius:25px;
    opacity: 0.6;
}
.row2{
    float: left;
    margin: 5% 0%;
    width: 100%;
    height: 450px;
}
.mk{
    float: left;
    border: 1px solid salmon;
    margin: 2% 3.5% 0% 0% ;
    width: 20%;
    height: 100%;
}
.row3{
    border: 1px solid skyblue;
    float: left;
    margin:10% 0% 3% 16.4%;
    width: 67%;
    height: 620px;
}
.xk{
    border: 1px solid saddlebrown;
    float: left;
    margin: 2% 0% 0% 10%;
    width: 80%;
    height: 30%;
}
.tb{
    border: 1px solid salmon;
    float: left;
    width: 100px;
    height: 100px;
}

.row4{
    border: 1px solid skyblue;
    float: left;
    margin: 1% 0px 5% 16.5%;
    width: 67%;
    height: 860px;
}
.dkk1{
    float: left;
    width: 25%;
    height: 410px;
    margin: 20% 0% 0% 8%;
}
.k{
    border: 1px solid chartreuse;
    float: left;
    width: 100%;
    height: 226px;
    padding: 2%;
    margin-bottom: 10px;
}
.dkk2{
    float: left;
    width: 30%;
    height: 700px;
    margin: 8% 0% 0% 2%;
}
.dkk3{
    float: left;
    width: 25%;
    margin:  31% 0% 0% 2%;
}
.about_us{
    width: 100%;
    text-align: center;
    padding-top: 2%;
    background-color: #888888;
    height: 100px;
    float: left;
}
